.opening {
  min-width: 1240px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;

  .work {
    min-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 100px;

    .rowTitle,
    .columnTitle {
      margin-bottom: 10px;
    }

    .rowTitle {
      display: flex;
      align-items: flex-end;
    }
  }
}

.worksContainer {
  height: 600vh;
  position: relative;

  .works {
    position: sticky;
    top: 0px;
    max-height: 100vh;
    overflow-x: visible;
    overflow-y: hidden;

    .horizontal {
      display: flex;
      justify-items: center;
      align-items: center;
      gap: 300px;
    }
  }

  .works::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}
