.opening {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 200px 100px;

  .rowTitle,
  .columnTitle {
    margin-bottom: 10px;
  }

  .rowTitle {
    display: flex;
    align-items: flex-end;
  }
}
