.contact {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;

  .bgLaptop {
    position: absolute;
    z-index: -1;
  }

  .content {
    position: absolute;
    z-index: 0;
    margin-bottom: 60px;

    .title {
      text-align: center;
    }

    .divider {
      width: 1046px;
      height: 1px;
      background-color: white;
      margin: 120px 0 12px;
    }

    .info {
      padding: 0 60px;
      display: flex;
      justify-content: space-between;

      .value {
        margin-top: 8px;
        &:hover {
          color: white !important;
        }
      }
    }
  }
}

.sizeup {
  animation-name: sizeup;
  // animation-delay: 6s;
  animation-duration: 2s;
  animation-duration: leaner;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;

  @keyframes sizeup {
    0% {
      transform: scale(0.2);
    }

    100% {
      transform: scale(1);
    }
  }
}

.alert {
  position: absolute;
  top: 60px;
  left: calc(50% - 150px);
  width: 400px;

  opacity: 0;
  transform: translateY(-100%);
}

.showAlert {
  animation-name: slideDown;
  animation-duration: 0.8s;
  animation-duration: leaner;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.hideAlert {
  animation-name: slideUp;
  animation-duration: 0.8s;
  animation-duration: leaner;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes slideUp {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
}
